<div class="page-subtitle">
  <br>
  <%= link_to "Add Recipient", "/#{@organization.slug}/recipients/new" %>
</div>

  <div class="home-recipient-wrapper recipient-list">
    <% @organization.recipients.each do |recipient| %>
    <ul style="list-style-type:none">
      <li>Name: <%= recipient.name %></li>
      <li>Description: <%= recipient.name %> <%= recipient.description %></li>
      <li>Country: <%= recipient.country.name %></li>
      <li><img class="media img-index" src="<%= "#{recipient.image_path}" %>" alt="..."></li>
    </ul>
      <%= link_to "Edit #{recipient.name}", edit_recipient_path(recipient.id) unless recipient.retired%>
      <%= link_to "Delete #{recipient.name}", recipient_path(recipient.id), method: :delete, data: {confirm: 'Are you sure?'} unless recipient.has_funds?%>
      <%= link_to "Deactivate", "/admin/#{recipient.organization.slug}/recipients/#{recipient.id}", method: :patch, data: {confirm: 'Are you sure?'} if recipient.has_funds? %>
      <%= "#{recipient.name} is inactive" if recipient.retired%> <%= link_to "Reactivate", "/admin/#{recipient.organization.slug}/recipients/#{recipient.id}", method: :patch, data: {confirm: 'Are you sure?'} if recipient.retired %>
    <% end %>
  </div>
