<div class="well" width="33%">
  <h1 class="recip-edit-title"><%= @organization.name %></h1>
<%= @organization.description %>
<br>
    <%= link_to "Add Recipient", "/#{@organization.slug}/recipients/new", class: "btn btn-success" %>
</div>

<h4><strong>MANAGE RECIPIENTS</strong></h4>
<hr>
<div class="row">
  <% @organization.recipients.each do |recipient| %>
  <div class="media" id="<%= recipient.name.downcase %>">
    <a class="pull-left" href="<%= "#{recipient_path(recipient.id)}" %>">
      <img class="media-object recip-edit img-circle" src="<%= "#{recipient.image_path}" %>" style="width: 150px;height:150px;">
    </a>
    <div class="media-body">
      <a href="<%= "#{recipient_path(recipient.id)}" %>"><h3 class="media-heading"><%= recipient.name %></a>
        <br>
        <small><%= recipient.country.name %></small></h4>
        <h5><%= recipient.name %> <%= recipient.description %></h5>
        <%= link_to "Edit", edit_recipient_path(recipient.id), class: "btn btn-labeled btn-info" %>
        <%= link_to "Delete", recipient_path(recipient.id), class: "btn btn-warning", method: :delete, data: {confirm: 'Are you sure?'} %>
        <hr style="margin:8px auto">
      </div>
    </div>
    <% end %>
  </div>
</div>
