<button id="admin-fundings" class="btn-admin">Alicorn Orders</button>
<div id="admin-fundings-target">
<hr>
  <h3>Breakdown By Status</h3>
  <div class="admin-funding-stats col-md-12">
  <div class="admin-funding-stats col-md-6">
    <ul class="list-group">
      <li class="list-group-item">Completed <span class="badge"><%= @fundings.funding_status("completed") %> </span> </li>
      <li class="list-group-item">Ordered <span class="badge"><%= @fundings.funding_status("fundinged") %> </li>
      <li class="list-group-item">Paid <span class="badge"><%= @fundings.funding_status("paid") %> </li>
      <li class="list-group-item">Canceled <span class="badge"><%= @fundings.funding_status("canceled") %> </li>
    </ul>
  </div>
</div>

<div class="row">

  <div class="col-md-3">
    <%= render partial: 'filter' %>
  </div>

  <div class="col-md-6">
    <div class="fundings col-md-6">
      <% @fundings.each do |funding| %>
        <div class="funding" data-status="<%= funding.status %>">
          <li> <%= link_to "Funding: #{funding.id} | #{funding.status}", funding_path(funding) %> </li>
        </div>
      <% end %>
    </div>
  </div>

</div>
