<div class="home-recipient-wrapper">
  <strong>
    <%= link_to recipient.name, organizations_recipient_path(organization_slug: recipient.organization.slug, slug: recipient.slug), class: "home-recipient-name" %></p>
  </strong>
  <%= recipient.name %> <%= recipient.description %></p>
  <%= form_tag("/carts", method: "post") do %>
    <%= hidden_field_tag :recipient_id, recipient.id %>
    <div style="float: left; width: auto;"><%= select_tag :loan_amount, options_for_select(lend_amounts), {class: 'form-control'}  %></div>
    <%= submit_tag "Lend", class: "btn btn-recipient" %>
    <br><br>
  <% end %>
</div>
