<em><h1 class="page-title">Lending Hands</h1></em>
<em><h2 class="page-subtitle">All Recipients</h2></em>
<% if current_platform_admin? %>
<h4><%= link_to "Manage Recipients", admin_recipients_path %></h4>
<% end %>
</br>

<div class="search-bar">
  <label>Search By Name</label>
  <%= text_field :recipient, :filter_name %>
</div>
</br>

<div class="row">
  <% @recipients.each do |recipient| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div align="center">
        <h3><%= link_to recipient.organization.name, organization_path(slug: recipient.organization.slug) %></h3>
      </div>
      <%= render partial: "shared/recipients_img", locals: { recipient: recipient } %>
      <div class="caption">
        <p><%= render partial: "shared/recipients_details", locals: { recipient: recipient } %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>
