<div class="thumbnail col-md-12">
<div class="row">
  <div class="recipient-show col-md-6">
    <h2><%= @recipient.name %></h2>
      <h4><%=button_to "Lend", carts_path(recipient_id: @recipient.id), class: "btn btn-recipient" %></h4>
    <!-- <p>
      Lorem Ipsum er rett og slett dummytekst fra og for trykkeindustrien. Lorem Ipsum har vært bransjens standard for dummytekst helt siden 1500-tallet, da en ukjent boktrykker stokket en mengde bokstaver for å lage et prøveeksemplar av en bok. Lorem Ipsum har tålt tidens tann usedvanlig godt, og har i tillegg til å bestå gjennom fem århundrer også tålt spranget over til elektronisk typografi uten vesentlige endringer. Lorem Ipsum ble gjort allment kjent i 1960-årene ved lanseringen av Letraset-ark med avsnitt fra Lorem Ipsum, og senere med sideombrekkingsprogrammet Aldus PageMaker som tok i bruk nettopp Lorem Ipsum for dummytekst.
    </p> -->
    <p>
      <%= @recipient.description %>
    </p>
    <h3><%= @recipient.organization.name %></h3>
  </div>
  <div class="col-md-4">
    <% if @recipient.image_path %>
      <%= image_tag("#{@recipient.image_path}", width: 400) %>
    <% else %>
      <%= image_tag("#{@recipient.name}.png", width: 400) %>
    <% end %>
  </div>
</div>
</div>
