<h1>Cart Summary</h1>
</br>

<div class="table-responsive">
  <table class="col-md-10 table">
    <%= raw(flash[:delete]) %>
    <thead>
    <tbody>
      <tr>
        <td>Creature</td>
        <td>Description</td>
        <td>Quantity</td>
        <td>Price</td>
        <td>Subtotal</td>
      </tr>
    </thead>
    <% @recipients.each do |recipient| %>
    <tr>
      <td class="col-md-2"><%= image_tag("#{recipient.name}.png", width: 100) %></br>
        <%= recipient.name %></br>
        <%= link_to "Remove From Cart", cart_path(recipient_id: recipient.id), method: :delete, class: "remove-cart" %>
      </td>
      <td class="col-md-4"><%= recipient.description %></td>
      <td class="col-md-2"><%= @cart.count_of(recipient.id) %>
        <%= button_to "+", cart_path(add: recipient.id), method: :put, class: "btn btn-success" %>
        <%= button_to "-", cart_path(remove: recipient.id), method: :put, class: "btn btn-danger"  %></td>
        <td class="col-md-2"><%= number_to_currency(recipient.price) %></td>
      <td class="col-md-2"><%= number_to_currency(@cart.subtotal(recipient.id)) %></td>
    </tr>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
      <% if @cart %>
        Total: <%= number_to_currency(@cart.total_price) %>
      <% else %>
        Total: $0.00
      <% end %>
      <td>
    </tr>
  </tbody>
  </table>
</div>

<div class="col-md-6 offset-md-3">
  <% if current_user %>
    <%= button_to "Checkout", fundings_path(contents: session[:cart]), method: :create, class: "btn-checkout" %>
  <% else %>
    <%= button_to "Login to Checkout", login_path, method: :get, class: "btn-checkout" %></br>
    <%= button_to "Register to Checkout", new_user_path, method: :get,  class: "btn-checkout" %>
  <% end %>
</div>
