<body class="login">
  <div class="form-horizontal">
    <h3>Update Recipient</h3>
    <%= form_for(@recipient, url: {action: "update", params: {id: @recipient.id}}) do |f| %>
      <div class="form-group">
        <%= f.label :name, { :class => "col-sm-4 form-label" } %>
        <div class="col-sm-4">
          <%= f.text_field :name %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :description, { :class => "col-sm-4 form-label" } %>
        <div class="col-sm-8">
          <%= f.text_area :description %>
        </div>
      </div>
      
      <div class="form-group">
        <%= f.label :image_path, { :class => "col-sm-4 form-label" } %>
        <div class="col-sm-8">
          <%= f.text_field :image_path %>
        </div>
      </div>

      <div class="col-sm-10">
        <center>
          <%= hidden_field_tag :organization_slug, f.object.slug %>
          <%= f.submit "Update", { class: "btn-recipient" } %>
        </center>
      </div>
    <% end %>
  </div>
</body>