<h1 class="page-title green"><%= @organization.name %></h1>
<center><h3 class="page-subtitle"><%= @organization.description %></h3></center>
<% @recipients.each do |recipient| %>
  <div class="container col-md-4 home-recipient-wrapper" data-name=" <%= recipient.name %> ">
      <%= render partial: "shared/recipients_img", locals: { recipient: recipient } %>
      <%= render partial: "shared/recipients_details", locals: { recipient: recipient } %>
  </div>
<% end %>
