<h1 class="page-organization-title"><%= link_to @organization.name, "/#{organization.slug}" %></h1>


<h1 class="page-organization-title"><%= @organization.description %></h1>
<h1 class="page-organization-title">Recipients</h1>
<% @recipients.each do |recipient| %>
  <div class="container col-md-4 home-recipient-wrapper" data-name=" <%= recipient.name %> ">
      <%= render partial: "shared/recipients_img", locals: { recipient: recipient } %>
      <%= render partial: "shared/recipients_details", locals: { recipient: recipient } %>
  </div>
<% end %>
