<nav class="navbar navbar-inverse sidebar" role="navigation">
    <div class="container-fluid">

		<div class="navbar-header">
      <%= image_tag("logo.png", alt: "Lending Hand logo with two hands holding a heart-shaped world") %>
      <h4 class="home-link">
      <%= link_to "Lending Hands", recipients_path %></h4>
		</div>

		<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
			<ul class="nav navbar-nav">
        <li><%= link_to "All Recipients", "/" %></li>
          <% recipient_organizations.each do |organization| %>
            <li class="sidebar-list" role="presentation"><%= link_to organization.name, "/#{organization.name}" %></li>
          <% end %>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Needs by Country
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" id="countries">
            <% countries.each do |country| %>
              <li><%= link_to country.name, country_needs_path(country_slug: country.slug) %></li>
            <% end %>
          </ul>
        </div>
        <% if current_platform_admin? %>
          <li><%= link_to "Admin Account", admin_dashboard_index_path %></li>
        <% elsif current_user %>
          <li><%= link_to "My Account", dashboard_path %></li>
        <% end %>
			</ul>
		</div>
	</div>
</nav>
